$color-primary-brand: #000;
$color-secondary-brand: #333;
$color-third-brand: #1E6EB6;
$color-fourth-brand: #FFF;

$color-generic-line: #C1C1C1;
$color-error: #C3002F;

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Para Firefox */
  -webkit-box-sizing: border-box; /* Para WebKit/Blink */
}

body {
  color: $color-primary-brand;
  font-family: 'Roboto';
  padding: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.navbar {
  margin: 20px 0 0;

  &__title {
    color: $color-third-brand;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px;
  }

  &__line {
    border-bottom: 1px solid $color-generic-line;
    margin-bottom: 20px;
    width: 100%;
  }
}


.search {

  &__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
  }

  &__num-podcasts {
    color: $color-fourth-brand;
    font-size: 16px;
    background-color: $color-third-brand;
    border-radius: 4px;
    margin-right: 15px;
    padding: 5px 7px;
  }

  &__input {
    font-size: 16px;
    border: 1px solid $color-generic-line;
    border-radius: 4px;
    padding: 4px 10px;
  }

  &__list-filter {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @media (max-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.podcast-card {

  text-align: center;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  padding: 15px;
  height: 100%;

  a {
    text-decoration: none;
    height: 100%;
  }

  &__image {
    border-radius: 4px;
    margin-bottom: 15px;
    height: auto;
    width: 100%;
  }

  &__title {
    color: $color-primary-brand;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  &__author {
    color: #888;
    font-size: 12px;
    margin: 0;
  }
}

.podcast-page {

  &__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.podcast-card-summary {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  padding: 15px;

  &__image {
    border-radius: 4px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
  }

  &__title {
    font-size: 14px;
    border-bottom: 1px solid $color-generic-line;
    border-top: 1px solid $color-generic-line;
    margin: 15px 0 15px;
    padding: 15px 0 15px;
  }

  &__title-description {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 5px;
  }

  &__summary {
    color: #666;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
  }
}